<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mithu.mithunmistry.mithun" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IpActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".experiment"
            android:label="@string/title_activity_experiment"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".VoiceHelp"
            android:label="@string/title_activity_voice_help"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".brightness_activity" >
        </activity>
        <activity android:name=".FanSpeed" >
        </activity>
        <activity
            android:name=".Client"
            android:label="@string/title_activity_client"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main22Activity"
            android:label="@string/title_activity_main22"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".experiment2"
            android:label="Live temperature"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OutputcontrolActivity"
            android:label="@string/title_activity_outputcontrol"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RaspberryPi"
            android:label="@string/title_activity_raspberry_pi"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ParameterActivity"
            android:label="@string/title_activity_parameter"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TemperatureActivity"
            android:label="@string/title_activity_temperature"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HumidityActivity"
            android:label="@string/title_activity_humidity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LevelActivity"
            android:label="@string/title_activity_level"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MoistureActivity"
            android:label="@string/title_activity_moisture"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".animationGif"
            android:label="@string/title_activity_animation_gif"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".calenderTest"
            android:label="@string/title_activity_calender_test"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".sqlData"
            android:label="@string/title_activity_sql_data"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".todo"
            android:label="@string/title_activity_todo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PidActivity"
            android:label="@string/title_activity_pid"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NewSocketActivity"
            android:label="@string/title_activity_new_socket"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
